################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VersionIncreaser/packages
.vs/

# Build results
ScriptDatabase/[Bb]in/
ScriptDatabase/[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
Installers/Angular_WebApi/packages/
Installers/Angular_WebCoreApi/packages/

*.dotsettings
*.user
*.angular
/packages
/Installer/publish
/Installer/IISWebAppSetup/Output.wxs
/Installer/WinServiceWebAppSetup/Output.wxs
/MiddleTier/UI/dist/
/MiddleTier/UI/.husky/_/
/MiddleTier/UI/node_modules/
/MiddleTier/UI/package-lock.json
/MiddleTier/publish/
.idea
.sonarqube

*.msi
*Setup.exe
*Setup.wixpdb
*.g.wxs